.paper
  img(src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/PD0XWZZSX5.jpg").poster
  h2 Featured
  h1 Back to Nature
  hr
  p Down on the West Coast where the sand meets the crashing waves and your dreams come true.
  a.btn Read More 
  .space
  
